{{> header}}
{{> notifications}}

  <section id="details-page" class="details">
            <div class="pet-information">
                <h3>Name: {{pet.name}}</h3>
                <p class="type">Type: {{pet.type}}</p>
                <p class="img"><img src="{{pet.imageUrl}}"></p>
                {{#if isLogged}}
                <div class="actions">
                    {{#if pet.isCreator}}
                    <!-- Edit/Delete buttons ( Only for creator of this pet )  -->
                    <a class="button" href="#/edit/{{pet.id}}">Edit</a>
                    <a class="button" href="#/delete/{{pet.id}}">Delete</a>
                    {{else}}
                    <!-- Bonus -->
                    <!-- Like button ( Only for logged-in users, which is not creators of the current pet ) -->
                    <a class="button" href="#/like/{{pet.id}}">Like</a>
                    {{/if}}
                    <!-- ( for Guests and Users )  -->
                    <div class="likes">
						<img class="hearts" src="./public/images/heart.png">
						<span id="total-likes">Likes: {{pet.like}}</span>
					</div>
					<!-- Bonus -->
                </div>
                {{else}}
                   <div class="actions"></div>
                   <div class="likes">
						<img class="hearts" src="./public/images/heart.png">
						<span id="total-likes">Likes: {{pet.like}}</span>
					</div>
                      </div>
                {{/if}}
            </div>
            <div class="pet-description">
                <h3>Description:</h3>
                <p>{{pet.description}}</p>
            </div>
        </section>

 {{> footer}}