    {{> header}}
    {{> notifications}}

{{#if isLogged}}
    
    
  
                <h1 class="text-center">Our Recipes</h1>
                    {{#if recipes}}
                        <div id="sharedRecipes">
                                    {{#each recipes}}
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="our-team-main">

                                                                <div class="team-front">
                                                                    <img src="{{this.categoryImageURL}}" />
                                                                    <h3>{{this.meal}}</h3>
                                                                    <p>{{this.category}}</p>
                                                                </div>

                                                                <div class="team-back">
                                                                    <div class="back-side-info">
                                                                        <h4>Ingredients</h4>
                                                                        <ul>
                                                                            {{#each ingredients}}
                                                                            <li>{{this}}</li>
                                                                           {{/each}}
                                                                        </ul>
                                                                        <a href="#/details/{{this.id}}">View the recepie</a>
                                                                    </div>

                                                                    <img class="foodImage"
                                                                        src="{{this.foodImageURL}}" />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    {{/each}}
                            
                            </div>


                    {{else}}
            

                    <div id='foodNotFound'>
                        <img src="https://t4.ftcdn.net/jpg/00/62/17/31/240_F_62173114_ozantkVtkPgzL0fxssAkTqKX1FHPr0UW.jpg" />
                        <h3>Food not found...</h3>
                    </div>


                    {{/if}}

{{else}}
           <main role="main" class="inner cover mt-5">
            <h1 class="cover-heading">Coooooking University</h1>
            <p class="lead">They say that food passes through the stomach, we say that food passes through CookUni...
            </p>
        </main>
{{/if}}

{{> footer}}