   {{> header}}
   {{> notifications}}
     <section id="allSongsView">
            <div class="background-spotify">
                <div class="song-container">
                    <h1>All Songs</h1>
                    <a href="#/create">
                        <button type="button" class="btn-lg btn-block new-song-btn">Add a new song</button>
                    </a>
                    {{#each songs}}
                    <div class="song">
                        <h5>Title: {{this.title}}</h5>
                        <h5>Artist: {{this.artist}}</h5>
                        <img class="cover" src="{{this.imageURL}}"/>
                        <p>Likes: {{this.likes}}; Listened {{this.listened}} times</p>
                        {{#if isCreator}}
                        <a href="#/remove/{{id}}"><button type="button" class="btn btn-danger mt-4">Remove</button></a>
                        <a href="#/listen/{{id}}"><button type="button" class="btn btn-success mt-4">Listen</button></a>
                       {{else}}
                        <p>Likes: {{this.likes}}</p>
                        <a href="#/like/{{id}}"><button type="button" class="btn btn-primary mt-4">Like</button></a>
                   {{/if}}
                    </div>
                 {{/each}}
                </div>
            </div>
        </section>
 {{> footer}}